.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: rgb(255, 152, 92);
}

/********************************************************************
                             Bottom Row
*********************************************************************/
.n1 {
  grid-column: 1/span 1;
  grid-row: 2;
  background-color: rgb(102, 1, 10);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 16px;
  color: #effef7;
}

/********************************************************************
                           End Top Row
*********************************************************************/
/********************************************************************
                             Bottom Row
*********************************************************************/
.n2 {
  grid-column: 1/span 1;
  grid-row: 3;
  background-color: rgb(2, 30, 6);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 17px;
  color: #f5fde3;
}

/********************************************************************
                             Bottom Row
*********************************************************************/
.n3 {
  grid-column: 2/span 1;
  grid-row: 2;
  background-color: rgb(106, 3, 30);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 18px;
  color: #ebfce7;
}

/********************************************************************
                           End Top Row
*********************************************************************/
/********************************************************************
                             Bottom Row
*********************************************************************/
.n4 {
  grid-column: 2/span 1;
  grid-row: 3;
  background-color: rgb(4, 60, 10);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 19px;
  color: #ebfbdf;
}

/********************************************************************
                             Bottom Row
*********************************************************************/
.n5 {
  grid-column: 3/span 1;
  grid-row: 2;
  background-color: rgb(110, 5, 50);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 20px;
  color: #e7fad7;
}

/********************************************************************
                           End Top Row
*********************************************************************/
/********************************************************************
                             Bottom Row
*********************************************************************/
.n6 {
  grid-column: 3/span 1;
  grid-row: 3;
  background-color: rgb(6, 90, 14);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 21px;
  color: #e1f9db;
}

/********************************************************************
                             Bottom Row
*********************************************************************/
.n7 {
  grid-column: 4/span 1;
  grid-row: 2;
  background-color: rgb(114, 7, 70);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 22px;
  color: #e3f8c7;
}

/********************************************************************
                           End Top Row
*********************************************************************/
/********************************************************************
                             Bottom Row
*********************************************************************/
.n8 {
  grid-column: 4/span 1;
  grid-row: 3;
  background-color: rgb(8, 120, 18);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 23px;
  color: #d7f7d7;
}

/********************************************************************
                             Bottom Row
*********************************************************************/
.n9 {
  grid-column: 5/span 1;
  grid-row: 2;
  background-color: rgb(118, 9, 90);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 24px;
  color: #dff6b7;
}

/********************************************************************
                           End Top Row
*********************************************************************/
/********************************************************************
                             Bottom Row
*********************************************************************/
.n10 {
  grid-column: 5/span 1;
  grid-row: 3;
  background-color: rgb(10, 150, 22);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 25px;
  color: #cdf5d3;
}

/********************************************************************
                             Bottom Row
*********************************************************************/
.n11 {
  grid-column: 6/span 1;
  grid-row: 2;
  background-color: rgb(122, 11, 110);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 26px;
  color: #dbf4a7;
}

/********************************************************************
                           End Top Row
*********************************************************************/
/********************************************************************
                             Bottom Row
*********************************************************************/
.n12 {
  grid-column: 6/span 1;
  grid-row: 3;
  background-color: rgb(12, 180, 26);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 27px;
  color: #c3f3cf;
}

/********************************************************************
                             Bottom Row
*********************************************************************/
.n13 {
  grid-column: 7/span 1;
  grid-row: 2;
  background-color: rgb(126, 13, 130);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 28px;
  color: #d7f297;
}

/********************************************************************
                           End Top Row
*********************************************************************/
/********************************************************************
                             Bottom Row
*********************************************************************/
.n14 {
  grid-column: 7/span 1;
  grid-row: 3;
  background-color: rgb(14, 210, 30);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 29px;
  color: #b9f1cb;
}/*# sourceMappingURL=main.css.map */